<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Reliability Prediction</title>
</head>
<body>
    <h1>Software Reliability Prediction</h1>
    <form action="/predict" method="post">
        <!-- Dynamically generate input fields for features -->
        <!-- {% for feature in features %}
            <label for="{{ feature }}">{{ feature }}:</label>
            <input type="text" name="{{ feature }}" required>
        {% endfor %}
         -->
         Enter code:<br>
         <input type="textarea" name="code" required/>
        <br>
        <button type="submit">Predict</button>
    </form>
</body>
</html>
